*{
	box-sizing: border-box;
	font-family: 'Asap', sans-serif;
}
.section{
	background-color: #FBF8FB;
	
}
.container{
	color:  #292728 ;
	max-width: 800px;
	padding: 20px 0px;
}
@media(min-width: 801px){
	.container{
		justify-content: center;
	}
}

/* MENU */

.menu{
	padding: 20px 40px;
	border-bottom: 2px solid #EFEFEE;
	display: flex;
	background-color: white;
	color: #9E999C ;
	

}
.menu__main{
	display: flex;
	align-items: center;
	flex: auto ;

}
.menu__logo{
	width: 50px;
	height: 50px;
	flex: none;
	margin-right: 16px;
}

.menu__profile{
	padding: 20px 40px;
	display: flex;
	border-left: 2px solid #EFEFEE;
	align-items: center;

}
.menu__photo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 16px;
}

/** CONTAINER **/
.main__header{
	padding: 0px 40px;
}
.main__titre{
	display: block;
	font-size: 40px;
}
.main_soustitre{
	display: block;
	padding-top: 20px;
	color: #B4B4B4;
}
